<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Home</title>
</head>
<body class="container" style="background-color:#D8D8D8">
    <header class="navbar navbar-expand-lg bd-navbar sticky-top">
        <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
            <div><a class="link-underline link-underline-opacity-0 " href="http://127.0.0.1:8000/auth/login">LOGIN TO SYSTEM</a></div>

            <div><a class="link-underline link-underline-opacity-0 " href="http://127.0.0.1:8000/auth/register">REGISTER TO SCHOOL</a></div>
        </nav>

        
    </header>

</body>
</html>